
.card {
    border: 2px solid red;
    margin-top: 2%;
    width: 90%;
    border-radius: 20px;
    overflow: hidden;
    /* justify-content: center; */
    align-items: center;
    display: flex;
    flex-direction: column;
}
#Design {
    height: auto;
}

.card1 {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow-y: scroll;
}

.card form input {
    width: 50%;
    height: 4vh;
    border-radius: 20px;
    padding: 4%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card form {
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}

h2 {
    /* justify-content: center; */
    display: flex;
    width: 100%;
    background-color: antiquewhite;
    height: 6vh;
    justify-content: center;
    align-items: center;
}
button {
    width: 30%;
    height: 4vh;
    border-radius: 10px;
}
p {
    width: 70%;
    background-color: aqua;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 3%;
    min-height: 4vh;

}


/* button add  */
.button {
    position: relative;
    overflow: hidden;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid #34974d;
    background-color: #3aa856;
    position: fixed;
    top: 90%;
  }
  
  .button, .button__icon, .button__text {
    transition: all 0.3s;
  }
  
  .button .button__text {
    transform: translateX(30px);
    color: #fff;
    font-weight: 600;
  }
  
  .button .button__icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 39px;
    background-color: #34974d;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button .svg {
    width: 30px;
    stroke: #fff;
  }
  
  .button:hover {
    background: #34974d;
  }
  
  .button:hover .button__text {
    color: transparent;
  }
  
  .button:hover .button__icon {
    width: 148px;
    transform: translateX(0);
  }
  
  .button:active .button__icon {
    background-color: #2e8644;
  }
  
  .button:active {
    border: 1px solid #2e8644;
  }
/* button add  */